# The site name must be unique globally. It's the identify of every sites. In other words,
# echo site should have a different siteName
# siteName 必须是全局唯一的，它是每个站定的唯一标识，每个 site 应当有不同的 siteName
siteName: site01

logger:
  level: DEBUG
  # /var/log/wovenet.log
  file: ""
  format: json

# The message channel used to excanage informations between different sites
messageChannel:
  # Currently, we only support mqtt protocol
  # 目前，我们只支持 mqtt 协议
  protocol: mqtt
  # The 16 bit key used to encrypt message payload.
  # NOTE: Strongly suggest you change it for security(don't use the default value directly).
  # This value should remain the same for each site.
  # 设置一个 16 bit 的 key 用于加密传输数据。
  # 为了安全起见强烈建议你在使用时修改这个值（不要使用这个默认值）。
  # 每个站点这个值应该保持相同。
  cryptoKey: "Ytew12TYds!dsd5)"
  mqtt:
    # mqtt brokcer server
    # mqtt 服务地址
    brokerServer: mqtt://mqtt.eclipseprojects.io:1883
    # NOTE: This is important, you are strongly suggested to change this(don't use the default value directly).
    # The sites which have some topic will try to establish tunnel connections each other
    # In other words, the same topic sites will join the same network
    # NOTE: 重要提示：强烈建议你修改这个值（不要使用这个默认值）
    # 相同 topic 的站点之间会尝试互相建立隧道
    topic: "kungze/wovenet/your-own-private-topic"

tunnel:
  # the local site will listen on these sockets, the remote peer sites
  # will try to connect to these sockets and establish tunnels with the
  # local site. You can config multiple sockets, the remote peer sites
  # will try to establish multiple tunnel connections. These connections
  # will constitute load-balancing, improve the tunnel's stability and 
  # increate the tunnel's traffic
  # 本地站点会监听在这些套接字上，远端对等站点会通过尝试连接这些套接字并与本地
  # 站点建立隧道。可以配置多个套接字，远程站点就会尝试建立多个连接，这些连接
  # 会构成负载均衡，可以增强隧道的稳定性，增大隧道带宽
  localSockets:
  # dedicated-address: the local site machine bind a dedicated public address
  # There are two cases:
  # 1. The dedicated public address set on the local site machine's network interface
  # directly. In this case, You only need to set either publicAddress or
  # listenAddress
  # 2. The dedicated public address bond to the local machine by floating ip
  # or EIP(elastic ip). In this case, publicAddress must be set, listenAddress
  # can be remain empty.
  # No matter which case, the publicPort and listenPort must remain same or only
  # set one of them (the another will auto set).
  # For transportProtocol, wovenet only support quic currently
  # 当 socket 的 mode 设置为 dedicated-address 时，意味着这个 socket 有一个专有的
  # 公网 IP。可以分为以下两种场景
  # 1、公网 IP 直接设置在机器的网卡上，在这种情况下， publicAddress 和 listenAddress
  # 只需要任意设置一个即可
  # 2、公网 IP 通过浮动 IP/弹性 IP 的形式绑定到机器上，在这种情况，publicAddress 必须被设置，
  # listenAddress 可以保持为空
  # 无论那种情况，listenPort 和 publicPort 必须保持相同，或者只设置其中的一个。
  # 对于 transportProtocol 目前 wovenet 只支持 quic
  - mode: dedicated-address
    transportProtocol: quic
    publicAddress: 240e:362:a0e:640c:d620:ff:feb3:a916
    listenAddress: 240e:362:a0e:640c:d620:ff:feb3:a916
    listenPort: 54234
  # port-forwarding the local machine don't has dedicated public address.
  # But the NAT gateway of the local site machine has a dedicated public address, and
  # you can config port mapping on NAT gateway for the local machine on the NAT gateway.
  # In this case, publicAddress，publicPort and listenPort are required. And they must refer
  # to the NAT gateway's port forwarding config
  # 当 socket 的 mode 设置为 port-forwarding 时，意味着这个本地站点机器没有专有
  # 的公网 IP. 但是这个本地站点的 NAT 网关上有公网 IP，而且你可以在 NAT 网关上设置端口映射。
  # 这种场景 publicAddress，publicPort 和 listenPort 是必须被设置的，而且必须参考 NAT 网关
  # 上的配置
  - mode: port-forwarding
    transportProtocol: quic
    publicAddress: 36.25.107.126
    publicPort: 26726
    listenAddress: 172.26.142.105
    listenPort: 16875

# Specify which applications can be accessed by remote peer sites.
# The both options id and socket are required
# 指定本端哪些应用可以被远程对等站点访问
# 两个参数 id 和  socket 都是必须被设置的
localExposedApps:
- socket: 192.168.122.80:8080
  id: 1562160a-7e84-4d32-8912-d8bdc96f47aa
- socket: 127.0.0.1:22
  id: 16d86618-d4f3-4221-9ed2-7f4534774082

# Specify the local site can access which remote applications of remote sites
# All these three options are required.
# wovenet will startup a listener for each remote apps, By these listeners' sockets,
# the local site's exteral client will access particualar remote application
# 指定本端可以访问哪些远端站点的应用
# 这三个参数都是必须设置的
# wovenet 会为每个 socket 启动一个监听器，通过访问这个监听器的套接字，本地的用户可以访问到
# 特定的远端应用。
remoteApps:
- siteName: site02
  remoteAppId: 2559c7cf-b571-42ca-81ee-8de47515c6c5
  localSocket: 127.0.0.1:28080
- siteName: site03
  remoteAppId: 86d7cc3b-8eef-43e2-8625-4ad30f0cfb8f
  localSocket: 127.0.0.1:20022
